@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital@1&family=Cousine:wght@700&family=Inria+Serif:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,600;0,700;1,100;1,300;1,400;1,600&family=Nanum+Gothic:wght@700&family=Roboto+Slab:wght@400;500;900&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700;1,900&family=Yusei+Magic&display=swap');

/* font-family: 'Alegreya', serif;
font-family: 'Cousine', monospace;
font-family: 'Inria Serif', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Nanum Gothic', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif;
font-family: 'Yusei Magic', sans-serif; */


 


*{
    margin: 0;
    padding: 0;
  box-sizing: border-box;
}

.conatiner{
    width: 100%;
    min-height: 100vh;
    padding: 10px 10%;
    background-image: url("pexels-daniel-torobekov-5560867.jpg");
    background-position: center;
    background-size: cover;
    overflow: hidden;
    position: relative;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

img.back-image {
    width: 150px;
}

ul {
    /* display: inherit; */
}

div {}

ul li {
    display: inline-block;
}

ul li a {
    text-decoration: none;
    margin-left: 16px;
    font-family: monospace;
    font-size: 19px;
    font-weight: bold;
}

div a {
    text-decoration: none;
    font-size: 20px;
    margin: 10px;
    font-family: high tower text;
    font-weight: bold;
    /* color: black; */
}

a.login {
    color: #fb5200;
}

a.download.anim {
    display: inline-block;
    text-decoration: none;
    padding: 14px 40px;
    color: #fff;
    background-image: linear-gradient(45deg, #df4881, #c430d7);
    font-size: 14px;
    border-radius: 30px;
    border-top-right-radius: 0;
    transition: 1s;
    animation-delay: 1.5s;
}

.download{
    display: inline-block;
    text-decoration: none;
    padding: 14px 40px;
    color: #fff;
    background-image: linear-gradient(45deg, #df4881, #c430d7);
    font-size: 14px;
    border-radius: 30px;
    border-top-right-radius: 0;
    transition: 1s; 
}

.download:hover {
    border-top-right-radius: 30px;
}
h1{
    font-family: 'Montserrat', sans-serif;
}
.container-text {
    padding-top: 15%;
    max-width: 600px;
    text-align: center;
}

p.anim{
    font-family: 'Inria Serif', serif;
    font-family: high tower text;
    font-size: 20px;
    color: #171818;
    font-weight: bold;
    margin-bottom: 25px;
    animation-delay: 1s;
}

h1.anim{
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 25px;
    color: #8484e6;
    font-size: 51px;
    animation-delay: 0.5s;

}
span {
    color: black;
    animation-delay: 4s;
}
img.pic.anim {
    position: absolute;
    bottom: 0;
    right: 13%;
    width: 500px;
animation-delay: 2s;
}

.anim{
    opacity: 0;
    transform: translateY(30px);
    animation: moveup 0.5s linear forwards;
}

@keyframes moveup{
    100%{
        opacity: 1;
        transform: translateY(0px);   
    }
}

